@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.navbar-title, .navbar-links, .sign-up-title, .flashes{
    font-family: 'PT Sans', sans-serif;
}

.cta-page-links {
    font-family: 'Titillium Web', sans-serif;
}

.flashes {
    margin-top: 12px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
