{% extends "base.html" %}
{% block content %}

<!-- {% for document in documents %}
    {{ document.symptom_type }}<br>
    {{ document.symptom_description }}<br>
    {{ document.started_experiencing }}<br>
    {{ document.self_isolating }}<br>
{% endfor %} -->

<ul class="collapsible popout">
    {% for document in documents %}
    <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
            <h5>{{ document.symptom_type }} : {{ document.started_experiencing }}</h5>
        </div>
        <div class="collapsible-body">
            <p>{{ document.symptom_description }}</p>
            {% if document.self_isolating == "on" %}
            self isolating: <i class="material-icons">check_box</i>
            {% else %}
            self isolating: <i class="material-icons ">block</i>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}