{% extends "base.html" %}
{% block content %}

<h4 class="center-align sign-up-title">Log In Here!</h4>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login')}}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Example: John123" id="username" name="username" type="text" minlength="7"
                        maxlength="18" pattern="^[a-zA-Z0-9]{7,18}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" minlength="6" maxlength="18"
                        pattern="^[a-zA-Z0-9]{7,18}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row center-align">
                <button class="btn waves-effect text-shadow purple darken-1" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <h5 class="center-align cta-page-links">
            Click here to create an account!
            <a href="{{ url_for('sign_up')}}"><span>Sign Up</span></a>
        </h5>
    </div>
</div>

{% endblock %}